.list-container {
  padding: 20px 20px 50px;
  display: flex;
  justify-content: center;
  background-color: #f6f8fc;
  flex-grow: 1;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: auto;
}

ul {
  list-style: none;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
