.list-container {
  display: flex;
  justify-content: center;
  background-color: #f6f8fc;
  flex-grow: 1;
  width: 100%;
  border-radius: 8px;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding: 0px;
  justify-content: flex-start;
}

@media (prefers-color-scheme: dark) {
  .list-container {
    background-color: var(--background);
  }
}
