.search {
  display: block;
  padding: 20px 20px;
  border-radius: 9px;
  background-color: #eaf1fb;
  border: 0px;
  width: 80%;
  font-size: 1rem;
  color: #5e5e5e;
  outline: none;
  transition: transform 0.2s ease-in-out;
}

.search:focus {
  transform: scale(1.05);
  background-color: transparent;
}
