button {
  background-color: #4286f4;
  border: 0px;
  color: white;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 6px;
  width: 200px;
  font-weight: 600;
}

button:hover {
  background-color: #2574f4;
  cursor: pointer;
}
