.container {
  display: flex;
  height: calc(100vh - 40px);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f8fc;
  border-radius: 30px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

aside h1 {
  margin-top: 0px;
}

section {
  flex-grow: 1;
  display: flex;
  width: 100%;
  margin: 0px;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  aside {
    background-color: var(--background);
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 10px;
  }

  aside,
  section {
    height: 100%;
    width: auto;
  }
}
